.container {
  padding: 32px 16px;
  max-width: 1024px;
  margin: auto;

  ion-item {
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-top: 16px;
  }
}

ion-button {
  margin-block: 16px;
}
.box {
  margin-top: 24px;
  text-align: center;
}
